html, body {
  height: 100%;
  width: 100%;
}
body {
  font: 14px "Microsoft YaHei", "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  color: #333;
  background-color: #ececec;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: #37a096;
  opacity: 1;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
a:hover {
  opacity: .6;
}
h1,h2 {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  font-size: 1.2em;
}
h3,h4 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1em;
}
h5,h6 {
  font-size: 1em;
  margin-top: .8em;
  margin-bottom: .8em;
}
p {
  margin: 0 0 1.5em 0;
}
li > p {
  margin-bottom: .5em;
}

/*
 * syntax highlight
 **********/
pre,
code {
  font-family: "Source Code Pro", Monaco, Menlo, Consolas, monospace;
  color: #4d4d4c;
  background: #eee;
  font-size: 13px;
}
code {
  border-radius: 3px;
  /*padding: 0 5px;
  vertical-align: middle;
  color: #37a096;
  background: rgba(55, 160, 150, 0.16);*/
  background: none;
}
pre {
  line-height: 22px;
  border-radius: 4px;
}
pre code {
  display: block;
  padding: 10px;
  background-color: #23241f;
  color: #8e908c;
  overflow: auto;
}
.highlight {
  background: #eee;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 15px;
  color: #4d4d4c;
  overflow: auto;
  margin: 0;
}
.highlight figcaption {
  margin: -5px 0 5px;
  font-size: 0.9em;
  color: #999;
}
.highlight figcaption:before,
.highlight figcaption:after {
  content: "";
  display: table;
}
.highlight figcaption:after {
  clear: both;
}
.highlight figcaption a {
  float: right;
}
.highlight pre {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}
.highlight .line {
  height: 22px;
}
figure.highlight .gutter {
  color: #999;
  padding-right: 15px;
  border-right: 1px solid #ddd;
  text-align: right;
}
figure.highlight .code {
  padding-left: 15px;
  border-left: 1px solid #fff;
  color: #666;
}
pre .comment{
  color: #4d4d4d;
}
pre .title {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f5871f;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #718c00;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #718c00;
}
pre .css .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
blockquote {
  margin: 1em 1em 1em 0;
  padding: 0.3em;
  background-color: #fafafa;
  border-left: 5px solid #ccc;
}
blockquote p {
  margin: 0 0 0.5em 0;
}

.j-container {
  position: relative;
  overflow: hidden;
}

/*
 * @ aside
 **/
.j-aside {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 9;
  width: 190px;
  text-align: right;
  padding: 60px 30px 0 30px;
  border-right: 2px solid #ccc;
  box-shadow: 1px 0 0 #fff;
  background: #f5f5f5 url(/images/aside_line.png) 0 0 no-repeat;
}
.j-logo {
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background: url(/images/photo.png) center center no-repeat;
  background-size: 80px;
  text-align: left;
  text-indent: -99em;
  overflow: hidden;
  margin-bottom: 20px;
  border: 5px solid #fff;
}
.j-title {
  text-transform: uppercase;
  font-size: 1.2em;
  color: #37a096;
  margin: 0 0 5px 0;
}
.j-say,
.j-social {
  margin: 0 0 20px 0;
}
.j-social {
  position: relative;
}
.j-social .weixin {
  position: absolute;
  top: 20px;
  left: 150px;
  display: none;
}
.fa-weixin:hover ~ img {
  display: block;
}
.j-social a {
  font-size: 1.2em;
  margin-left: 7px;
}
.j-menu {
  margin: 0;
  padding-left: 0;
  list-style: none;
  text-transform: capitalize;
}
.j-menu li {
  margin-bottom: 10px;
}
.j-menu li a:hover {
  padding-right: 10px;
}

.j-main {
  padding: 0 50px;
  margin: 60px 100px 60px 250px;
}
.j-main .post-header h3 {
  margin: 0 0 5px 0;
  font-size: 2em;
}
.j-main .post-meta {
  color: #999;
  font-size: 12px;
  margin-bottom: 30px;
}
.j-main .post-meta a {
  color: inherit;
  margin-right: 10px;
}
.j-main .post-content {
  font-size: 1.1em;
  line-height: 1.5;
}
.j-main .post-footer {
  color: #adadad;
  font-size: 12px;
}
.j-main .post-footer a {
  color: inherit;
}
.j-main .post-footer a:hover {
  color: #37a096;
}
.j-main .post-item {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 1px 0 #fff;
}
.post-nav {
  overflow: hidden;
  zoom: 1;
  padding-bottom: 20px;
}
.post-nav .post-nav-prev {
  float: left;
}
.post-nav .post-nav-next {
  float: right;
}
.page-nav {
  padding-bottom: 20px;
  text-align: center;
}
.page-nav a,
.page-nav span {
  padding: 3px;
  display: inline-block;
  vertical-align: middle;
}
.archive-item time {
  display: inline-block;
  width: 60px;
}


.j-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: right;
  padding: 10px 100px;
  background-color: #f5f5f5;
  border-top: 1px solid #37a096;
  text-transform: capitalize;
}