html, body {
  height: 100%;
  width: 100%;
}
body {
  font: 14px "Microsoft YaHei", "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  display: inline-block;
}
table {
  table-layout: fixed;
  border-spacing: 0;
}
a {
  /*color: #00B7FF;*/
  color: #2c3e50;
  text-decoration: none;
}
h1,h2 {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  font-size: 1.2em;
}
h3,h4 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1em;
}
h5,h6 {
  font-size: 1em;
  margin-top: .8em;
  margin-bottom: .8em;
}

/* a[href^='http://']:after {
  content: '';
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 5px;
}
*/
.site-header {
  margin-bottom: 15px;
  color: #444;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: #2c3e50;
  overflow: hidden;
  height: 48px;
  z-index: 1;
}
.site-nav,
.site-main,
.site-footer .inner {
  max-width: 960px;
  margin: 0 auto;
}
.site-nav {
  overflow: hidden;
  color: #fff;
}
.site-nav .site-title {
  float: right;
  font-weight: 400;
  margin: 0;
  padding: 14px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.1);
}
.site-nav ul {
  padding-left: 0;
  margin: 0;
  overflow: hidden;
  list-style-type: none;
}
.site-nav li {
  float: left;
}
.site-nav li a {
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  position: relative;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.site-nav li a:before {
  display: inline-block;
  width: 14px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
}
.site-nav li:first-child a:before {
  content: '';
}
.site-nav li:nth-child(2) a:before {
  content: '';
}
.site-nav li:nth-child(3) a:before {
  content: '';
}
.site-nav li:nth-child(4) a:before {
  content: '';
}
.site-nav li a:after {
  content: '';
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 15px;
  opacity: 0;
  border-bottom: 2px solid #333;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.site-nav li a:hover {
  color: #00b7ff;
  background-color: #fff;
}
.site-nav li a:hover:after {
  opacity: 1;
  bottom: 10px;
  border-bottom-color: #00b7ff;
}
/*
.site-scroll {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
}
*/
.site-main {
  display: block;
  margin-top: 65px;
  margin-bottom: 20px;
  position: relative;
}
.site-main a:hover {
  color: #fff;
  background-color: #00B7FF;
  text-decoration: underline;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.site-main .post {
  margin-bottom: 20px;
  background-color: #fff;
  /*box-shadow: 0 2px 5px rgba(100, 100, 100, 0.3);*/
  margin-bottom: 20px;
  padding: 15px 25px;
  border: 1px solid rgba(100, 100, 100, 0.2);
  border-radius: 3px;
}
.site-main .post:last-of-type {
  margin-bottom: 0;
}
.post-header h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2em;
}
.post-meta {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 0.8em;
  color: #999;
  border-bottom: 1px solid #eee;
}
.post-meta .article-category {
  margin-left: 15px;
}
.post-footer {
  padding-top: 5px;
}
.site-page-title {
  margin: 0;
}
.post-tag-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  overflow: hidden;
}
.post-tag-list-item {
  float: left;
  margin-right: 5px;
}
.post-tag-list-link {
  color: #b4b4b4;
}
.post-tag-list-link:hover {
  color: #333;
}
.post-tag-list-link:before {
  content: '#';
}
.post-nav, .page-nav {
  overflow: hidden;
  margin: 10px 0 -5px 0;
  padding: 5px 0;
}
.post-nav-prev {
  float: left;
}
.post-nav-next {
  float: right;
}
.page-archive-title {
  margin: 0;
}
.post-anchor {
  margin: 0;
  border-radius: 3px;
  overflow: hidden;
  padding: 10px;
  list-style: none;
  font-size: 12px;
  border: 1px solid #ddd;
  background-color: #eee;
  position: absolute;
  top: 80px;
  right: 25px;
  line-height: 1.5em;
}



.site-aside {
  display: none;
}
.site-footer {
  background-color: #eee;
  border-top: 1px solid #fff;
  box-shadow: 0px -1px 0 #ccc;
  padding: 10px;
  font-size: 12px;
}
.site-footer p {
  margin: 0;
}
.site-footer span {
  margin-right: 5px;
}

/* syntax highlight
 **/
pre,
code {
  font-family: "Source Code Pro", Monaco, Menlo, Consolas, monospace;
  color: #4d4d4c;
  background: #eee;
  font-size: 13px;
}
code {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ddd;
  padding: 0 5px;
}
pre {
  padding: 10px 15px;
  line-height: 22px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
  overflow: auto;
}
pre code {
  border: none;
  display: block;
  padding: 0;
}
.highlight {
  background: #eee;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 15px;
  color: #4d4d4c;
  overflow: auto;
  margin: 0;
}
.highlight figcaption {
  margin: -5px 0 5px;
  font-size: 0.9em;
  color: #999;
}
.highlight figcaption:before,
.highlight figcaption:after {
  content: "";
  display: table;
}
.highlight figcaption:after {
  clear: both;
}
.highlight figcaption a {
  float: right;
}
.highlight pre {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}
.highlight .line {
  height: 22px;
}
figure.highlight .gutter {
  color: #999;
  padding-right: 15px;
  border-right: 1px solid #ddd;
  text-align: right;
}
figure.highlight .code {
  padding-left: 15px;
  border-left: 1px solid #fff;
  color: #666;
}
pre .comment,
pre .title {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f5871f;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #718c00;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #718c00;
}
pre .css .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
