html, body {
  height: 100%;
  width: 100%;
}
body {
  font: 14px "Microsoft YaHei", "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  color: #333;
  background-color: #ececec;
  display: inline-block;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: #2c3e50;
  text-decoration: none;
}
h1,h2 {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  font-size: 1.2em;
}
h3,h4 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1em;
}
h5,h6 {
  font-size: 1em;
  margin-top: .8em;
  margin-bottom: .8em;
}

.site-header {
  margin-bottom: 15px;
  color: #444;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #2c3e50;
  overflow: hidden;
  height: 48px;
  z-index: 9;
}
.site-nav,
.site-main,
.site-footer .inner {
  max-width: 960px;
  margin: 0 auto;
}
.site-nav {
  overflow: hidden;
  color: #fff;
}
.site-nav .site-title {
  float: right;
  font-weight: 400;
  margin: 0;
  padding: 14px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.1);
}
.site-nav .site-title a {
  color: #eee;
}
.site-nav ul {
  padding-left: 0;
  margin: 0;
  overflow: hidden;
  list-style-type: none;
}
.site-nav li {
  float: left;
}
.site-nav li a {
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  position: relative;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
/*.site-nav li a:before {
  display: inline-block;
  width: 14px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
}
.site-nav li:first-child a:before {
  content: '';
}
.site-nav li:nth-child(2) a:before {
  content: '';
}
.site-nav li:nth-child(3) a:before {
  content: '';
}
.site-nav li:nth-child(4) a:before {
  content: '';
}*/
.site-nav li a:after {
  content: '';
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 15px;
  opacity: 0;
  border-bottom: 2px solid #333;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.site-nav li a:hover {
  color: #00b7ff;
  background-color: #fff;
}
.site-nav li a:hover:after {
  opacity: 1;
  bottom: 10px;
  border-bottom-color: #00b7ff;
}
.site-main {
  display: block;
  margin-top: 65px;
  margin-bottom: 20px;
}
.site-main a {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  border-radius: 3px;
}
.site-main a:hover,
.article-more-link a:hover {
  color: #fff;
  background-color: #00B7FF;
}
.site-main .post {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 15px 25px;
  border: 1px solid rgba(100, 100, 100, 0.2);
  border-radius: 3px;
}
.site-main .post:last-of-type {
  margin-bottom: 0;
}
.post-header h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2em;
}
.post-meta {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 0.8em;
  color: #999;
  border-bottom: 1px solid #eee;
}
.post-meta .article-category {
  margin-left: 15px;
}
.post-footer {
  padding-top: 5px;
}
.site-page-title {
  margin: 0;
}
.post-tag-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  overflow: hidden;
}
.post-tag-list-item {
  float: left;
  margin-right: 5px;
}
.post-tag-list-link {
  color: #b4b4b4;
}
.post-tag-list-link:hover {
  color: #333;
}
.post-tag-list-link:before {
  content: '#';
}
.post-nav, .page-nav {
  overflow: hidden;
  margin: 10px 0;
  padding: 5px;
  color: #ccc;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .8);
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.post-nav a,
.page-nav a {
  display: inline-block;
}
.post-nav-prev {
  float: left;
}
.post-nav-next {
  float: right;
}
.page-nav {
  text-align: center;
}
.page-nav a ,
.page-nav .current {
  padding: 0 5px;
  border-radius: 3px;
}
.page-nav .current {
  background-color: #00B7FF;
  color: #fff;
}
.page-nav .prev {
  float: left;
}
.page-nav .next {
  float: right;
}
.page-archive-title {
  margin: 0;
}
.post-content {
	overflow: hidden;
}
.post-anchor {
  border-radius: 3px;
  overflow: hidden;
  padding: 10px;
  list-style: none;
  font-size: 12px;
  border: 1px solid #ddd;
  background-color: #fff;
  line-height: 2.5em;
	float: right;
	margin: 0 0 1em 1em;
	background-color: #ececec;
}
.post-anchor a {
  display: block;
}
.article-more-link {
  margin: 10px 0 5px 0;
}
.article-more-link a {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  background: #ccc;
}


.site-aside {
  display: none;
}
.site-footer {
  background-color: #eee;
  border-top: 1px solid #fff;
  box-shadow: 0px -1px 0 #ccc;
  padding: 10px;
  font-size: 12px;
  z-index: 9;
}
.site-footer p {
  margin: 0;
}
.site-footer span {
  margin-right: 5px;
}
.site-footer img {
	display: none;
}

/*
 * Archives page
 **********/
.page-archive-content{
  margin: 1em;
  padding-left: 1em;
  list-style: none;
  overflow: hidden;
}
.archive-item {
  float: left;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2em;
}

.article-type-page p {
  line-height: 2;
}

/*
 * Whole page
 **********/
.whole-categories-list,
.whole-tags-list {
  margin: 1em;
  padding: 1px;
  list-style: none;
  overflow: hidden;
}
.whole-categories-list li,
.whole-tags-list li {
  float: left;
  border: 1px solid #ccc;
  margin: 0 -1px -1px 0;
  border-radius: 3px;
  overflow: hidden;
}
.whole-categories-list li a,
.whole-tags-list li a ,
.whole-categories-list li a:hover,
.whole-tags-list li a:hover {
  display: inline-block;
  padding: 10px 30px 10px 10px;
  border-radius: 0;
  color: inherit;
  background: transparent;
}
.whole-categories-list li:hover,
.whole-tags-list li:hover{
  background-color: #00B7FF;
}
.whole-categories-list li span,
.whole-tags-list li span {
  display: inline-block;
  width: 25px;
  margin-left: -25px;
}
/*
 * syntax highlight
 **********/
pre,
code {
  font-family: "Microsoft YaHei","Source Code Pro", Monaco, Menlo, Consolas, monospace;
  color: #4d4d4c;
  background: #eee;
  font-size: 13px;
}
code {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 0 5px;
}
pre {
  padding: 10px 15px;
  line-height: 22px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
  overflow: auto;
}
pre code {
  border: none;
  display: block;
  padding: 0;
}
.highlight {
  background: #eee;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 15px;
  color: #4d4d4c;
  overflow: auto;
  margin: 0;
}
.highlight figcaption {
  margin: -5px 0 5px;
  font-size: 0.9em;
  color: #999;
}
.highlight figcaption:before,
.highlight figcaption:after {
  content: "";
  display: table;
}
.highlight figcaption:after {
  clear: both;
}
.highlight figcaption a {
  float: right;
}
.highlight pre {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}
.highlight .line {
  height: 22px;
}
figure.highlight .gutter {
  color: #999;
  padding-right: 15px;
  border-right: 1px solid #ddd;
  text-align: right;
}
figure.highlight .code {
  padding-left: 15px;
  border-left: 1px solid #fff;
  color: #666;
}
pre .comment,
pre .title {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f5871f;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #718c00;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #718c00;
}
pre .css .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
blockquote {
  margin: 1em 1em 1em 0;
  padding: 0.3em 0;
  background-color: #fafafa;
  border-left: 5px solid #eee;
}
blockquote p {
  margin: 0 0 0.5em 0;
}

/*
 * for phone
 **********/
@media(max-width:960px) {
  .site-nav,
  .site-main,
  .site-footer .inner {
    margin-left: 2%;
    margin-right: 2%;
    min-width: 480px;
  }
  .post-anchor {
    display: none;
  }
  .archive-item {
    float: none;
    width: 100%;
  }
}
@media(max-width: 530px) {
  .site-title {
    display: none;
  }
  .site-footer .inner > a,
  .site-footer .inner > span:not(:first-child) {
    display: none;
  }
}

.ds-comments-tab-weibo {
  display: none!important;
}